<div class="row"><div class="col-12">
  <h4>Incoming Transactions</h4>
</div></div>
<div class="row d-inline" *ngFor="let tx of txs; let i=index;">
  <div class="col-12">
    <div class="row">
      <h6>Tx Hash</h6>
      <div class="col-12 hash">
        {{tx.tx_hash}}
      </div>
    </div>
    <div class="row">
      <div class="col-3 inout">
        <div>
          <h6>Inputs</h6>
        </div>
        <h4 *ngIf="tx.inputs.length === 0">Inputs Loading...</h4>
        <div class="utxo" *ngFor="let input of tx.inputs">{{input.value}}</div>
      </div>
      <div class="col-3 inout">
        <div>
          <h6>Outputs</h6>
        </div>
        <h4 *ngIf="tx.outputs.length === 0">Outputs Loading...</h4>
        <div class="utxo" *ngFor="let output of tx.outputs">{{output.value}}</div>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-sm btn-primary txButton ml-auto" (click)="accept(i)">Accept</button>
        <button *ngIf="rejectAllowed" type="button" class="btn btn-sm btn-primary txButton mr-auto" (click)="reject(i)">Reject</button>
      </div>
    </div>
  </div>
</div>
