<div class="container">
    <br><br><br><br><br>
    <div class="row text-center">
        <div class="col-6 mr-auto ml-auto">
            <div class="display-2">Welcome</div>
            <br>
            <div class="lead">This training portal was created to help you better understand blockchain technology.</div>
            <br>
            <button type="button" class="btn btn-lg btn-primary" routerLink="/register">Register</button>
            <button type="button" class="btn btn-lg btn-info" routerLink="/login">Login</button>
        </div>
    </div>
</div>