<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xl-4 col-md-5">
      <div *ngIf="uploadMessage == '' && fileReady">
        <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">
          Upload Image
        </button>
        <br>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{ 'width': uploader.progress + '%' }" role="progressbar">{{ uploader.progress }}%</div>
        </div>
        <br>
      </div>
      <p *ngIf="!fileReady && uploadMessage != ''">{{ uploadMessage }}</p>
      <div class="card">
        <div class="pic card-img-top" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">
          <img class="img-fluid" src="{{ user.picture_url }}">
          <div class="overlay"></div>
          <div class="info" [ngClass]="display">
            <input *ngIf="!uploader.isReady && !uploader.isUploading && !uploader.isSuccess && !fileReady" type="file" name="photo" ng2FileSelect
              [uploader]="uploader" />
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-capitalize">{{ user.f_name }}'s Profile</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Email: </strong>{{ user.email }}</li>
          <li class="list-group-item">
            <strong>Username: </strong>{{ user.username }}</li>
          <li class="list-group-item">
            <strong>Session Id: </strong>{{ user.session }}</li>
        </ul>

      </div>
    </div>
    <div class="col-7 ml-auto">
      <button class="btn btn-primary" (click)="resetBlockchain()">Reset Blockchain Data</button>
      <h2 class="display-4">My Questions</h2>
      <form (ngSubmit)="onQuestionSubmit()" #question="ngForm">
          <div class="form-group">
            <input class="form-control" name="question" placeholder="Enter your question here..." ngModel>
          </div>
          <button type="submit" class="btn btn-primary d-inline">Submit Question</button>
        </form>
      <hr>
      <ul class="list-group">
          <li *ngFor="let question of questions; let i = index;" class="list-group-item d-flex align-items-center">
              <span class="mr-auto p-8 text-primary">{{ question.question }}</span>
              <button class="btn btn-danger btn-sm justify-content-end p-2 text-white" (click)="deleteQuestion(i)">Delete</button>
            </li>
      </ul>
    </div>
  </div>
</div>
