.carou {
    border-radius: 0px;
}

.utxoSelected {
    line-height: 60px;
    margin-left: 10px;
}

.mempool {
    max-height: 500px;
    overflow: auto;
}

.txButton {
    margin-top:15px;
}

.utxo-box {
    border: dashed rgba(49,42,68,.1) 4px;
    background: #eeedf7;
    margin-top: 10px;
    min-height: 60px;
    width: 100%;
}


.in-btn1 {
    margin: -5px 0px 10px 10px;
    color: white;
}

.in-btn2 {
    margin: -5px 0px 1px 10px;
    color: white;
}

.drag-container {
    padding: 20px;
    min-height: 100px;
}

.drag-container:hover {
    border: dashed rgba(49,42,68,1) 5px;
    cursor: grab;
}

.utxo {
    font-size: 0.7rem;
    border: solid black 1px;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 5px;
}

.inout {
    margin-bottom: 20px;
}

.sel-tx-container {
    padding: 20px;
}

.sel-tx-container:hover {
    border: dashed rgba(49,42,68,1) 4px;
    cursor: grab;
}

.sel-coinbase-container {
    padding: 20px;
}

.blockpool {
    max-height: 350px;
    overflow: auto;
}

.nonce {
    font-size: 4.0rem;
    font-weight: 500;
    border: solid;
    display: block;
    background-color: #ffc200;
    color: white;
}

.nonce-finished {
    color: white;
    background-color: #ffc200;
}

.hash-highlight {
    background-color: #ffc200;
    color: white;
}

.pulse-button {

    position: relative;
    border: none;
    box-shadow: 0 0 0 0 #ffc200;
    background-color: #ffc200;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.31, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.31, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.31, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.31, 0, 0, 1);
  }
  .pulse-button:hover 
  {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }
  
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}