<h2 *ngIf="loading">Loading the blockchain...</h2>
<div *ngIf="!loading" class="blockchain">
  <h1 *ngIf="blocks.length === 0 && !loading">There are no blocks in the blockchain.  <a style="text-decoration: underline;" routerLink="/blockchain-demo/create-block">Mine the Genesis Block now!</a></h1>
  <div class="shadowBox block" *ngFor="let block of blocks; let i = index;">
    <div class="header-contain">
      <h2 *ngIf="block.blockHeight > 0" class="text-primary d-inline" style="vertical-align: middle;">Block #{{ block.blockHeight }}</h2>
      <h2 *ngIf="block.blockHeight === 0" class="text-primary d-inline" style="vertical-align: middle;">Genesis Block</h2>
      <div class="mined-by"><p class="d-inline helper-text" style="vertical-align: middle;">Mined by {{ block.minedByName }}  </p><img class="mined-by-image" src="{{ block.minedByPicture }}"></div>
    </div>
    <div class="hash hash-margin-top">{{ block.blockHash }}</div>
    <hr>
    <h4>Block Header</h4>
    <hr>
    <h6>Previous Block Hash</h6>
    <div *ngIf="block.blockHeight === 0" class="hash">0x0000000000000000000000000000000000000000000000000000000000000000</div>
    <div *ngIf="block.blockHeight > 0" class="hash">{{ block.prevBlockHash }}</div>
    <h6>Merkle Root</h6>
    <div class="hash">{{ block.merkleRoot }}</div>
    <div>
      <h6 class="d-inline">Timestamp</h6>
      <div class="hash hash-no-overflow">{{ block.timestamp }}</div>
    </div>
    <div>
      <h6 class="d-inline">Nonce</h6>
      <div class="hash hash-no-overflow">{{ block.nonce }}</div>
    </div>
    <div>
      <h6 class="d-inline">Number of Transactions in Block</h6>
      <div class="hash hash-no-overflow">{{ block.numberTxsInBlock }}</div>
    </div>
    <hr>
    <h4 class="d-inline">Block Transactions</h4>
    <hr>
    <div class="sel-tx-container" *ngFor="let tx of block.txs; let i = index;">
      <h5 *ngIf="tx.coinbase === true">Coinbase Transaction</h5>
      <h5 *ngIf="tx.coinbase === false">Transaction #{{ i }}</h5>
      <hr>
      <h6>Transaction Hash</h6>
      <div class="hash">{{tx.tx_hash}}</div>
      <div>
        <h6 class="d-inline">
          Transaction Inputs
          <div class="utxo" *ngFor="let input of tx.inputs">{{ input.value.toFixed(1) }}</div>
        </h6>
      </div>

      <div>
        <h6 class="d-inline">
          Transaction Outputs
          <div class="utxo" *ngFor="let output of tx.outputs">{{ output.value.toFixed(1) }}</div>
        </h6>
      </div>

    </div>

  </div>
  <div class="block2"></div>
</div>
