.block {
    width: 600px;
    margin: 20px 40px 20px 40px;
    display: inline-block;
    vertical-align: top;
}

.block2 {
    width: 40px;
    margin: 20px 40px 20px 40px;
    display: inline-block;
    vertical-align: top;
}

.blockchain {
    overflow: scroll;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.sel-tx-container {
    padding: 20px;
    border: dashed rgba(49,42,68,1) 1px;
}

.mined-by {
    display: inline-block;
    margin-left: 20px;
}

.mined-by-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

