/* You can add global styles to this file, and also import other style files */

.shadowBox {
  -webkit-box-shadow: 0px 1px 1px 1px #eeedf7;
  -moz-box-shadow: 0px 1px 1px 1px #eeedf7;
  box-shadow: 0px 1px 1px 1px #eeedf7;
  padding: 20px;
}
