

.carou {
    border-radius: 0px;
}


.mempool {
    max-height: 500px;
    overflow: auto;
}

.utxoSelected {
    line-height: 60px;
    margin-left: 10px;
}

.txButton {
    margin-top:15px;
}

.utxo-box {
    border: dashed rgba(49,42,68,.1) 4px;
    background: #eeedf7;
    margin-top: 10px;
    min-height: 60px;
    width: 100%;
}

.utxo:hover {
    cursor: grab;
}

.reward {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: solid #312a44 2px;
}

.reward-main {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: solid #312a44 2px;
}

.test {
    background-color: blue;
}

.my-reward {
    background-color: #ffc200;
    color: white;
}

.no-drag:hover {
    cursor: pointer;
}

.legend {
    margin-left: 10px;
}

.my-utxo {
    background-color: #ffc200;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 0.8rem;
    color: white;
    border: none;
}
