

.carou {
    border-radius: 0px;
}



.utxoSelected {
    line-height: 60px;
    margin-left: 10px;
}

.txButton {
    margin-top:15px;
}

.utxo-box {
    border: dashed rgba(49,42,68,.1) 4px;
    background: #eeedf7;
    margin-top: 10px;
    min-height: 60px;
    width: 100%;
}

.utxo:hover {
    cursor: grab;
}

