<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <ngb-alert class="helper-text" *ngIf="invalidUtxo" type="warning" [dismissible]="false">Your private key did not unlock this UTXO.  Please select a gold UTXO.</ngb-alert>
        <ngb-alert class="helper-text" *ngIf="invalidTx" type="warning" [dismissible]="false">You cannot send funds to yourself!  Select a different user!</ngb-alert>
        <ngb-alert class="helper-text" *ngIf="notEnoughFunds" type="warning" [dismissible]="false">You do not have enough funds for this transaction.  Add more UTXOs or decrease the fee!</ngb-alert>
        <ngb-alert class="helper-text" *ngIf="invalidForm" type="warning" [dismissible]="false">You must fill out all fields before submitting the transaction!</ngb-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-12 tx-form">
      <div class="row">
        <div class="col-12">
          <form class="shadowBoxLight" (ngSubmit)="onTxSubmit()" #txform="ngForm">
            <h2 class="text-primary">Create Transaction</h2>
            <hr>
            <div class="form-group form-row">
              <label for="amount" class="col-form-label">Send</label>
              <div class="col-lg-8 col-12">
                <input type="text" class="form-control" name="amount" placeholder="Amount..." ngModel required>
              </div>
            </div>
            <div class="form-group form-row">
              <ng-template #rt let-r="result" let-t="term">
                <img [src]="r['picture_url']" width="50"> {{ r.username }}
              </ng-template>
              <label for="typeahead-template" class="col-form-label">User Lookup:</label>
              <div class="col-lg-6 col-12">
                <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
                  [inputFormatter]="formatter" name="selectedUser" ngModel required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="fee" class="col-form-label h6">Add Tx Inputs</label>
              <div class="col-12">
                <div class="utxo-box" pDroppable="utxos" (onDrop)="drop($event)">
                  <div class="utxoSelected">
                    <div *ngIf="selectedUtxos.length === 0" class="helper-text text-center">Drag UTXOs here</div>
                    <div class="utxo" pDraggable="selUtxos" (onDragStart)="dragStart($event, utxo)" (onDragEnd)="dragEnd($event)" *ngFor="let utxo of selectedUtxos">{{utxo.value.toFixed(1)}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="fee" class="col-form-label">Add Fee</label>
              <div class="col-lg-3 col-12">
                <input type="text" class="form-control" name="fee" ngModel required>
              </div>
              <div class="col-lg-3 col-12">
                <button class="btn btn-outline-primary" type="button" (click)="estimateFee()">Estimate</button>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit Transaction</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-12">
      <div class="row">
        <div class="col-12 shadowBoxLight" pDroppable="selUtxos" (onDrop)="dropSel($event)">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-12">
                <h4 class="d-inline">UTXO Set </h4>
                <p class="d-inline" style="margin-left: 10px"> You own <span class="hash helper-text">{{ totalUtxo.toFixed(1) }}</span> worth of UTXOs (highlighted in gold)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div *ngIf="utxos.length === 0" class="helper-text">There are no UTXOs in the UTXO set! <a style="text-decoration: underline;" routerLink="/blockchain-demo/create-block">Create a Genesis Block first!</a></div>
              <div *ngFor="let utxo of utxos" class="utxo" [ngClass]="{'my-utxo': utxo.current_owner === user.id }"
                pDraggable="utxos" (onDragStart)="dragStart($event, utxo)" (onDragEnd)="dragEnd($event)">
                {{utxo.value.toFixed(1)}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 shadowBoxLight mempool">
          <app-mempool (txSubscribed)="onTxSub()"></app-mempool>
        </div>
      </div>
    </div>
  </div>
</div>
