<nav class="navbar navbar-expand-lg navbar-light bg-white" id="appNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/chainworks-logo.png" class="img-rounded" style="margin-left: 20px;">
    </a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="!isNavbarCollapsed" class="navbar-collapse justify-content-end" id="navCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li *ngIf="user.session !== 'chainworks-guest'" class="nav-item">
            <a class="nav-link" href="http://cwlabs.eastus.cloudapp.azure.com" target="_new" routerLinkActive="active">Certificate Demo</a>
        </li>
        <li class="nav-item">
          <a routerLink="/glossary" routerLinkActive="active" class="nav-link">Glossary</a>
        </li>
        <li class="nav-item">
          <a routerLink="/faq" routerLinkActive="active" class="nav-link">FAQ</a>
        </li>
        <li *ngIf="authService.loggedIn() && user.session !== 'chainworks-guest'" class="nav-item" ngbDropdown placement="bottom-right">
          <a id="presentation-resources" class="nav-link dd" ngbDropdownToggle>Presentation Resources</a>
          <div ngbDropdownMenu aria-labelledby="presentation-resources">
            <button class="dropdown-item dd" [routerLink]="['/presentation-resources/hash-demo']">Hash Demo</button>
            <button class="dropdown-item dd" [routerLink]="['/presentation-resources/pow-demo']">POW Demo</button>
            <button class="dropdown-item dd" [routerLink]="['/presentation-resources/wallet-generator']">Wallet Generator</button>
          </div>
        </li>
        <li *ngIf="authService.loggedIn()" class="nav-item" ngbDropdown placement="bottom-right">
          <a id="blockchain-demo" ngbDropdownToggle class="nav-link dd">Blockchain Demo</a>
          <div ngbDropdownMenu aria-labelledby="blockchain-demo">
            <button class="dropdown-item dd" [routerLink]="['/blockchain-demo/create-tx']">Transactions</button>
            <button class="dropdown-item dd" [routerLink]="['/blockchain-demo/create-block']">Blocks</button>
            <button class="dropdown-item dd" [routerLink]="['/blockchain-demo/blockchain']">Blockchain</button>
          </div>
        </li>
        <div *ngIf="authService.loggedIn()" ngbDropdown placement="bottom-right" class="nav-item d-inline-block">
          <a class="nav-link dd" id="basicdrop" ngbDropdownToggle>
            <!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
            <div class="profile-img dd">
              <img class="roundImg dd" src="{{ this.authService.picture_url }}">
            </div>
            <span class="caret dd"></span>
          </a>
          <div ngbDropdownMenu aria-labelledby="basicdrop">
            <h4 *ngIf="user" class="dropdown-item text-capitalize navli">{{ user.f_name }}</h4>
            <hr>
            <button class="dropdown-item dd" [routerLink]="['/profile']">Profile</button>
            <button class="dropdown-item dd" href="#" (click)="onLogout()">Logout</button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
